#websiteTitle {
    text-align: center;
    font-size: 64px;
    color: whitesmoke;
    font-weight: 200;
}

#name {
    text-align: center;
    font-size: 48px;
    color: whitesmoke;
    font-weight: 200;
}

.whitesmokeText {
    color: whitesmoke;
    font-size: 1000;
}

#first {
    display: inline-block;
    width: 400px;
    border: 2px whitesmoke;
    padding: 30px 0px;
    margin: 40px 0px;
}

#third {
    font-size: 64px;
}

span{
    font-size: 64px;
}

.big {
    font-size: 64px;
}

.container {
    display: inline-block;
    width:  600px;
    border: 2px black solid;
    padding:  20px 0px;
}

#nickname {
    text-align: center;
    font-size: 32px;
    color: whitesmoke;
    font-weight: 200;
}

body {
    background-image: url(./boom.jpg);
}

#link {
    text-align: center;
    font-size: 36px;
    color: whitesmoke;
    font-weight: 200;
}

#me {

    font-size: 32px;
    color: whitesmoke;
    font-weight: 200;
}